footer
	section.footer-support
		.container.flex.justify-center.items-center.h-full
			.text Need assistance ? Please contact
				a(href="#") Customer Service.
	section.footer-top
		.container
			.row
				.col.w-full(class='md:w-1/2 lg:w-4/12')
					h3.title L’Alya Ninh Vân Bay
					ol
						li
							em.lnr.lnr-map-marker
							span Tan Thanh Hamlet, Ninh Ich Commune,Ninh Hoa District, Khanh Hoa Province, Viet Nam
						li
							em.lnr.lnr-envelope
							span reservation.nvb@lalya.com
						li
							em.lnr.lnr-phone-handset
							span +84 258 3624 964 - 0905223966
						li
							em.lnr.lnr-phone
							span +84 258 3516 153
				.col(class='w-1/2 lg:w-2/12')
					h3.title Accommodation
					ul
						li
							a(href="javascript:;") Hill Rock Pool Villas 
						li
							a(href="javascript:;") Lagoon Pool Villas
						li
							a(href="javascript:;") 02 Bedrooms Beach Front Pool Villas
						li
							a(href="javascript:;") Grand Lagoon Pool Villas
					
				.col(class='w-1/2 lg:w-2/12')
					h3.title Quick Links
					ul
						li
							a(href="#") Restaurant & Cuisines
						li
							a(href="#") Wellness & Experience
						li
							a(href="#") Special Offers
						li
							a(href="#") Gallery
						li
							a(href="#") Contact us
				.col.w-full(class='md:w-1/2 lg:w-4/12')
					h3.title Subscribe
					.subscribe
						.subscribefrm
							input(type="text" placeholder='Địa chỉ email')
							button
								em.lnr.lnr-arrow-right
						
					.social-wrap
						h3.title-medium Follow us 
						.social-network
							a(href="javascript:;")
								em.fab.fa-facebook-square
							a(href="javascript:;")
								em.fab.fa-instagram
							a(href="javascript:;")
								em.fab.fa-twitter
							a(href="javascript:;")
								em.fab.fa-youtube
	section.footer-bottom
		.container.flex.justify-between.items-center.relative.h-full.py-3
			.wrap-left.flex
				.copyright
					p Copyright © 2020 American Doors. All rights reserved. Thiết kế website bởi Cánh Cam.
				.term-service
					ul
						li
							a(href="#") Terms of Use                
						li
							a(href="#") Privacy Policy
						li 
							a(href="#") Sitemap
			.wrap-right
				.back-to-top
					span.text-white.text-12.font-light Đầu trang
					em.lnr.lnr-chevron-up.text-white.text-14.inline-block.ml-2