header
	section.header-top
		.container
			.nav-brand
				a(href="#")
					img(src="./img/logo.png", alt="")
			.wrap
				.wrap-left.nav-top-wrapper
					.nav-primary-top
						ul
							li
								a(href="javascript:;") Special offers  
							li
								a(href="javascript:;")  Gallery
							li
								a(href="javascript:;") news - events
				.wrap-right
					.search-wrapper
						.search-toggle
							em.mdi.mdi-magnify
						.searchbox
							input(type="text",placeholder='Search')
							button
								em.mdi.mdi-magnify
					.language-wrapper
						.current-language
							a(href="javascript:;")
								span English
								em.lnr.lnr-chevron-down
						ul.language-list
							li
								a(href="#")
									span Vietnamese
					.btn-wrap-reservation
						a.btn.btn-reservation
							span Reservation
			.main-menu-toggle
				.hamburger.hamburger--elastic
					.hamburger-box
						.hamburger-inner
	section.header-bottom
		.container
			.navbar-primary-menu
				ul
					li
						a(href="javascript:;") Accommodation 
					li
						a(href="javascript:;") wedding
					li
						a(href="javascript:;") Meeting & Event
					li
						a(href="javascript:;") Wellness & Experience
					li
						a(href="javascript:;") Restaurant & Cuisines
					li
						a(href="javascript:;") contact us
	.mobile-wrapper