section.wedding-detail.section-total
    .container
        .section-title.text-center
            h1 Intimate beach espousal style
        .btn-center
            a(href="").btn.btn-primary
                em.mdi.mdi-pencil
                span Book now
        .wedding-detail-box
            .row
                -for(i=0;i<3;i++)
                    .col(class = "w-full md:w-4/12")
                        a(href="")
                            img(src="./img/wedding-detail/1.png", alt="")
            .row
                -for(i=0;i<2;i++)
                    .col(class = "w-full md:w-6/12")
                        a(href="")
                            img(src="./img/wedding-detail/4.png", alt="")
.section-fullscreen
    .fullscreen
        img(src="./img/wedding-detail/full.jpg", alt="")
        .container
            .fullscreen-detail
                .fullscreen-overload
                .fullscreen-content
                    span.section-content Intimate beach espousal style
                    h2
                        a(href="").section-title Wedding
                    p.section-content2 Everyone dreams of a beautiful romantic exchanging vows beachside and saying I do’s in front of the ocean. From the beachside serenity, natural sanctuary and personalized service to the table setting, delicious catering options, cakes and decoration, let’s pick up one of our beach wedding packages or design your own intimate beach wedding ceremony to make it unforgettable.
                        




            

                    
                        
                        