section.wedding
    .container
        .section-title.text-center Wedding
        .zone-description.text-center For the couple who dream of saying "I do" in full view off the spectacular sunset and the sound of the sea
        .flex.justify-center.bg-gray-200
            .text-gray-700.text-center.px-4.m-2
                .brochure.fa.fa-file
                    a(href="") Brochure
        .item1
            .row
                .col.w-full(class='sm:w-1/2  lg:w-8/12')
                    .image-item
                        a(href="#" alt="") 
                            img(src="./img/meeting/item-1.png", alt="") 
                .col.w-full(class='sm:w-1/2  lg:w-4/12')
                    .text-item
                        .tittle-item Every once in a while in the middle of an ordinary life love give us a fairy tail
                        .text Explore the endless possibilities for your most memorable day in an exotic island surrounded by the wild sandy beach, tropical forest and beautiful mountain. The Central Vietnam getaway provides plenty of activities between the bridal party for the nature-loving couples and their wedding guests in a gorgeous scenery with a side of adventure includes: mountain climbing, kayaking, biking and so much more…
        .tab-links.tab-navigation
                ul
                    li.active
                        a(href="javascript:;" data-type="tab-1") Wedding
                    li 
                        a(href="javascript:;" data-type="tab-2") Honeymoon & Anniversaries
        .tab-wrapper
            .content.tab-item#tab-1.active
                .row
                    .col.w-full(class='sm:w-1/2 lg:w-4/12')
                            .text-content
                                .tittle Meeinting beach espousal style
                                .text   Everyone dreams of a beautiful romantic exchanging vows beachside and saying I do’s in front of the ocean. From the beachside serenity, natural sanctuary and personalized service to the table setting, delicious catering options, cakes and decoration...
                                .btn-left
                                    a(href="#").btn.btn-view-more
                                        span See more
                    .col.w-full(class='sm:w-1/2 lg:w-8/12')
                        .image-content
                            a(href="" alt="")
                                img(src="./img/meeting/item-2.png", alt="")
                .row
                    .col.w-full(class='sm:w-1/2 lg:w-4/12')
                            .text-content
                                .tittle Tropical forest & Botanical garden wedding
                                .text   Everyone dreams of a beautiful romantic exchanging vows beachside and saying I do’s in front of the ocean.
                                .btn-left
                                    a(href="#").btn.btn-view-more
                                        span See more
                    .col.w-full(class='sm:w-1/2 lg:w-8/12')
                        .image-content
                            a(href="" alt="")
                                img(src="./img/meeting/item-3.png", alt="")
            .content.tab-item#tab-2
                .row
                    .col.w-full(class='sm:w-1/2 lg:w-4/12')
                            .text-content
                                .tittle Meeinting beach espousal style
                                .text   Everyone dreams of a beautiful romantic exchanging vows beachside and saying I do’s in front of the ocean. From the beachside serenity, natural sanctuary and personalized service to the table setting
                                .btn-left
                                    a(href="#").btn.btn-view-more
                                        span See more
                    .col.w-full(class='sm:w-1/2 lg:w-8/12')
                        .image-content
                            a(href="" alt="")
                                img(src="./img/meeting/item-2.png", alt="")
