section.primary-banner
	.swiper-container
		.swiper-wrapper
			-for(i=0;i<5;i++)
				.swiper-slide
					.wrapper
						a(href="javascript:;")
							img(src="./img/banner/1.jpg", alt="")
					.content
						.title Where The Jungle meets the sea immersing yourself in tropical breezes

						.text WELCOME TO L’ALYA NINH VAN BAY