section.wellness_detail-3 
	.container
		.section-title.text-center 
			h2 Other facilities
		.wnd-3-wrapper
			.swiper-container 
				.swiper-wrapper 
					-for(i=0;i<4;i++)
						.swiper-slide 
							.img 
								a(href="")
									img(src="./img/wellness/qwe.png" alt="")
							.content.text-center
								a(href="") Beauty & Sp
							.btn-center
								a(href="#").btn.btn-view-more
									span See more
							
			.arrow-slide 
				.swiper-button-prev 
					span.lnr.lnr-arrow-left
				.swiper-button-next 
					span.lnr.lnr-arrow-right
