section.home-discount
	.container
		.section-title.text-center(data-aos="fade-down" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250") Special offers
		.home-swiper-discount(data-aos="fade-up" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250")
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<5;i++)
						.swiper-slide
							.figure-discount
								.image-wrap
									a(href="#")
										img(data-src="./img/index/8.png", alt="").swiper-lazy
								.content
									.sub-title.medium.green
										a(href="javascript:;") long Stay discount
									.caption Enjoy our discounted Bed and Breakfast Rate at Luxury Villa Accommodations. Enjoy our discounted Bed and Breakfast Rate at Luxury Villa Accommodations.
						.swiper-slide
							.figure-discount
								.image-wrap
									a(href="#")
										img(data-src="./img/index/9.png", alt="").swiper-lazy
								.content
									.sub-title.medium.green
										a(href="javascript:;") long Stay discount
									.caption Enjoy our discounted Bed and Breakfast Rate at Luxury Villa Accommodations. Enjoy our discounted Bed and Breakfast Rate at Luxury Villa Accommodations.
			.swiper-nav-wrap
				.nav-arrow-prev
					em.lnr.lnr-arrow-left
				.nav-arrow-next
					em.lnr.lnr-arrow-right