section.accomodation-list
	.container
		.section-title.text-center Accomodation
		.accomodation-big
			.image-wrap.zoom-in
				img(src="./img/room/2.png", alt="")
			.sub-title.text-center Hill rock pool visllas
			.box-caption.caption.text-center Set over 3 levels. The lower floor contains a large bathroom with shower, separate bathtub, toilet, twin basins and wardrobes. The middle level is an open-air deck lounge space, with bar, sofas, dining space and plunge pool. ..
			.btn-center
				a(href="#").btn.btn-view-more
					span See more
		.row
			.col.w-full(class='lg:w-1/2')
				.item
					.image-wrap.zoom-in
						a(href="javascript:;")
							img(src="./img/room/1.png", alt="")
					.content
						.title.text-center.py-2
							a(href="") Lagoon pool villas
						.box-caption.caption.text-center Lagoon Pool Villas are single story with uninterrupted views of the lagoon, beach and sea. These villas have two layouts, however they are very similar in feel and internal villa space. 
						.btn-center.py-5
							a(href="#").btn.btn-view-more
								span View more
			.col.w-full(class='lg:w-1/2')
				.item
					.image-wrap.zoom-in
						a(href="javascript:;")
							img(src="./img/room/1.png", alt="")
					.content
						.title.text-center.py-2
							a(href="") Lagoon pool villas
						.box-caption.caption.text-center Lagoon Pool Villas are single story with uninterrupted views of the lagoon, beach and sea. These villas have two layouts, however they are very similar in feel and internal villa space. 
						.btn-center.py-5
							a(href="#").btn.btn-view-more
								span View more
		.accomodation-big
			.image-wrap.zoom-in
				img(src="./img/room/1.png", alt="")
			.sub-title.text-center  Grand lagoon pool villas
			.box-caption.caption.text-center Grand Lagoon Pool Villas are identical semi attached villas with a central living area between them. Each villa has a large bedroom with an entertainment system, oversize bathroom, outdoor bathtub, garden shower, and a double day bed overlooking the lagoon.
			.btn-center
				a(href="#").btn.btn-view-more
					span See more