section.gallery
    .container
        .section-title.text-center Gallery
        .tags-link
            ul
                li
                    a(href="") Activities
                li
                    a(href="") Room
                li
                    a(href="") Dining
                li
                    a(href="") Meeting
                li
                    a(href="") Team Building
                li
                    a(href="") Wedding
                li.active
                    a(href="") Video
        .item-1
            .row
                .col.w-full(class='md:w-12/12 lg:w-1/2')
                    .item-1-left
                        .row
                            .col.w-full(class='sm:w-6/12 md:w-1/2 lg:w-1/2')
                                .box-large
                                    .img-box-large
                                        a(href="./img/gallery/box-1.png" alt="" data-fancybox="image-1")
                                            img(src="./img/gallery/box-1.png", alt="")
                                            .icon-play
                                                span.mdi.mdi-play-circle-outline
                                        .text-item
                                            a(href="") Album 1
                            .col.w-full(class='sm:w-6/12 md:w-1/2 lg:w-1/2')
                                .box-large
                                    .img-box-large
                                        a(href="./img/gallery/box-2.png" alt="" data-fancybox="image-1")
                                            img(src="./img/gallery/box-2.png", alt="")
                                            .icon-play
                                                span.mdi.mdi-play-circle-outline
                                        .text-item
                                            a(href="") Album 2
                .col.w-full(class='md:w-12/12 lg:w-1/2')
                    .item-1-right
                        .row
                            .col.w-full(class='sm:w-1/2 md:w-6/12 lg:w-1/2')
                                .box-small
                                    .img-item1
                                        a(href="./img/gallery/box-4.png" alt="" data-fancybox="image-1")
                                            img(src="./img/gallery/box-4.png", alt="")
                                            .icon-play
                                                span.mdi.mdi-play-circle-outline
                                    .text-item
                                        a(href="") Album 3
                            .col.w-full(class='sm:w-1/2 md:w-6/12 lg:w-1/2')
                                .box-small
                                    .img-item1
                                        a(href="./img/gallery/box-3.png" alt="" data-fancybox="image-1")
                                            img(src="./img/gallery/box-3.png", alt="")
                                            .icon-play
                                                span.mdi.mdi-play-circle-outline
                                    .text-item
                                        a(href="") Album 4
                            .col.w-full(class='sm:w-1/2 md:w-6/12 lg:w-1/2')
                                .box-small.mt-1
                                    .img-item1
                                        a(href="./img/gallery/box-3.png" alt="" data-fancybox="image-1")
                                            img(src="./img/gallery/box-3.png", alt="")
                                            .icon-play
                                                span.mdi.mdi-play-circle-outline
                                    .text-item
                                        a(href="") Album 5
                            .col.w-full(class='sm:w-1/2 md:w-6/12 lg:w-1/2')
                                .box-small.mt-1
                                    .img-item1
                                        a(href="./img/gallery/box-4.png" alt="" data-fancybox="image-1")
                                            img(src="./img/gallery/box-4.png", alt="")
                                            .icon-play
                                                span.mdi.mdi-play-circle-outline
                                    .text-item
                                        a(href="") Album 6
            .row
                .col.w-full(class='md:w-12/12 lg:w-1/2')
                    .item-1-left
                        .row
                            .col.w-full(class='sm:w-1/2 md:w-6/12 lg:w-1/2')
                                .box-large
                                    .img-box-large
                                        a(href="./img/gallery/box-1.png" alt="" data-fancybox="image-1")
                                            img(src="./img/gallery/box-1.png", alt="")
                                            .icon-play
                                                span.mdi.mdi-play-circle-outline
                                    .text-item
                                        a(href="") Album 7
                            .col.w-full(class='sm:w-1/2 md:w-6/12 lg:w-1/2')
                                .box-large
                                    .img-box-large
                                        a(href="./img/gallery/box-2.png" alt="" data-fancybox="image-1")
                                            img(src="./img/gallery/box-2.png", alt="")
                                            .icon-play
                                                span.mdi.mdi-play-circle-outline
                                    .text-item
                                        a(href="") Album 8
                .col.w-full(class='lg:w-1/2')
                    .item-1-right
                        .row
                            .col.w-full(class='sm:w-1/2 md:w-6/12 lg:w-1/2')
                                .box-small
                                    .img-item1
                                        a(href="./img/gallery/box-4.png" alt="" data-fancybox="image-1")
                                            img(src="./img/gallery/box-4.png", alt="")
                                            .icon-play
                                                span.mdi.mdi-play-circle-outline
                                    .text-item
                                        a(href="") Album 9
                            .col.w-full(class='sm:w-1/2 md:w-6/12 lg:w-1/2')
                                .box-small
                                    .img-item1
                                        a(href="./img/gallery/box-3.png" alt="" data-fancybox="image-1")
                                            img(src="./img/gallery/box-3.png", alt="")
                                            .icon-play
                                                span.mdi.mdi-play-circle-outline
                                    .text-item
                                        a(href="") Album 10
                            .col.w-full(class='sm:w-1/2 md:w-6/12 lg:w-1/2')
                                .box-small.mt-1
                                    .img-item1
                                        a(href="./img/gallery/box-3.png" alt="" data-fancybox="image-1")
                                            img(src="./img/gallery/box-3.png", alt="")
                                            .icon-play
                                                span.mdi.mdi-play-circle-outline
                                    .text-item
                                        a(href="") Album 11
                            .col.w-full(class='sm:w-1/2 md:w-6/12 lg:w-1/2')
                                .box-small.mt-1
                                    .img-item1
                                        a(href="./img/gallery/box-4.png" alt="" data-fancybox="image-1")
                                            img(src="./img/gallery/box-4.png", alt="")
                                            .icon-play
                                                span.mdi.mdi-play-circle-outline
                                    .text-item
                                        a(href="") Album 12
