section.weeding-detail
    .container
        .section-title.text-center Intimate beach espousal style
        .flex.justify-center.bg-gray-200
            .text-gray-700.text-center.px-4.m-2
                .book-now.mdi.mdi-pencil
                    a(href="") Book Now
        .item-1
            .row
                .col(class='w-6/12 sm:w-4/12 md:w-4/12 lg:w-4/12')
                    .box-image.zoom-in
                        a(href="./img/wedding/box-1.png" alt="" data-fancybox="image-1")    
                            img(src="./img/wedding/box-1.png" alt="")
                .col(class='w-6/12 sm:w-4/12 md:w-4/12 lg:w-4/12')
                    .box-image.zoom-in
                        a(href="./img/wedding/box-3.png" alt="" data-fancybox="image-1")    
                            img(src="./img/wedding/box-3.png" alt="")
                .col.w-full(class=' sm:w-4/12 md:w-4/12 lg:w-4/12')
                    .box-image.zoom-in
                        a(href="./img/wedding/box-1.png" alt="" data-fancybox="image-1")    
                            img(src="./img/wedding/box-1.png" alt="")
            .row
                .col(class='w-6/12 sm:w-6/12 md:w-6/12 lg:w-6/12')
                    .box-image.zoom-in
                        a(href="./img/wedding/box-4.png" alt="" data-fancybox="image-1")    
                            img(src="./img/wedding/box-4.png" alt="")
                .col(class='w-6/12 sm:w-6/12 md:w-6/12 lg:w-6/12')
                    .box-image.zoom-in
                        a(href="./img/wedding/box-4.png" alt="" data-fancybox="image-1")    
                            img(src="./img/wedding/box-4.png" alt="")
    .banner-detail(setBackground="./img/wedding/banner-detail.png")
        .container
            .info-banner
                .text   Intimate beach espousal style
                .tittle Wedding
                .content    Everyone dreams of a beautiful romantic exchanging vows beachside and saying I do’s in front of the ocean. From the beachside serenity, natural sanctuary and personalized service to the table setting, delicious catering options, cakes and decoration, let’s pick up one of our beach wedding packages or design your own intimate beach wedding ceremony to make it unforgettable.
