section.pages-wellness_list 
	.container 
		.section-title.text-center 
			h1 Wellness & Experience
		-for(i=0;i<3;i++)
			.row 
				.article-1.col.w-full(class="xl:w-8/12 md:w-1/2")
					.img
						a(href="")
							img(src="./img/wellness/_Spa.png" alt="") 
				.article-2.col.w-full(class="xl:w-4/12 md:w-1/2")
					.wrapper 
						.title 
							a Spa & Beauty 
						.content 
							p No need for a big auditorium with splendid lights, L’Alya Ninh Van Bay has gently but subtly brought nature, land sky to your company’s year-end meeting. Imagine customers can dynamically allocate space, that meet your style, needs and number of participants. 
						.links 
							.links-item 
								a(href="") SEE MORE 
							.links-item.icon
								span 
									img(src="./img/icon/Vector_Smart_Object.png" alt="") 
								a(href="") Download borchure 
