section.restaurant
    .container
        .section-title.text-center Restaurant & Cuisines
        .zone-description.text-center Ambient lighting, pristine environment, and culinary genius combine to create elegance unmatched in a world away from worry. Cuisine so imaginative and tantalizing you will wish you had your own Chef at home. Developed with over many years experience our Chef with experience master chef has traveled the world lending influence to the creations available on the menu.
        .flex.justify-center.bg-gray-200
            .text-gray-700.text-center.px-4.m-2
                .book-now.mdi.mdi-pencil
                    a(href="") Book Now
        .content
            .row
                .col.w-full(class='sm:w-1/2 lg:w-8/12')
                    .image-content
                        a(href="" alt="")
                            img(src="./img/restaurant/box-1.png", alt="")
                .col.w-full(class='sm:w-1/2 lg:w-4/12')
                        .text-content
                            .tittle Meeinting beach espousal style
                            .text   Everyone dreams of a beautiful romantic exchanging vows beachside and saying I do’s in front of the ocean. From the beachside serenity, natural sanctuary and personalized service to the table setting, delicious catering options, cakes and decoration...
                            .btn-left
                                a(href="#").btn.btn-view-more
                                    span See more
    .banner-restaurant(setBackground="./img/restaurant/banner-restaurant.png")
        .tab-links.tab-navigation
                ul
                    li.active
                        a(href="javascript:;" data-type="tab-1") Menu Food
                    li 
                        a(href="javascript:;" data-type="tab-2") Menu Food
        .tab-wrapper
            .tab-item#tab-1.active
                .text1.text-center  Air Conditioned Bed Rooms
                .text2.text-center  King Size Bed(s) with dawn & feather pads, duvets and pillows
            .tab-item#tab-2
                .text1.text-center  King Size Bed(s) with dawn & feather pads, duvets and pillows
                .text2.text-center  Air Conditioned Bed Rooms 
    .container
        .section-1  
            .row
                .col.w-full(class='sm:w-1/2 lg:w-8/12')
                    .image-content
                        a(href="" alt="")
                            img(src="./img/restaurant/box-2.png", alt="")
                .col.w-full(class='sm:w-1/2 lg:w-4/12')
                    .text-content
                        .tittle Meeinting beach espousal style
                        .text   Everyone dreams of a beautiful romantic exchanging vows beachside and saying I do’s in front of the ocean. From the beachside serenity, natural sanctuary and personalized service to the table setting, delicious catering options, cakes and decoration...
                        .btn-left
                            a(href="#").btn.btn-view-more
                                span See more
                .col(class='w-1/2 sm:w-1/2 md:w-3/12 lg:w-3/12')
                    .image-small.zoom-in
                        a(href="./img/restaurant/small-1.png" data-fancybox="image-1" alt="" )    
                            img(src="./img/restaurant/small-1.png", alt="")
                    .info.text-center   Cooking Classes
                .col(class='w-1/2 sm:w-1/2 md:w-3/12 lg:w-3/12')
                    .image-small.zoom-in
                        a(href="./img/restaurant/small-2.png" alt="" data-fancybox="image-1")
                            img(src="./img/restaurant/small-2.png", alt="")
                    .info.text-center   Deck On The Beach
                .col(class='w-1/2 sm:w-1/2 md:w-3/12 lg:w-3/12')
                    .image-small.zoom-in
                        a(href="./img/restaurant/small-3.png" alt="" data-fancybox="image-1")
                            img(src="./img/restaurant/small-3.png", alt="")
                    .info.text-center   Rock Bar
                .col(class='w-1/2 sm:w-1/2 md:w-3/12 lg:w-3/12')
                    .image-small.zoom-in
                        a(href="./img/restaurant/small-1.png" alt="" data-fancybox="image-1")
                            img(src="./img/restaurant/img-1.jpg", alt="")
                    .info.text-center   At Villa        
            .row
                .col.w-full(class='sm:w-1/2 lg:w-8/12')
                    .image-content
                        a(href="" alt="")
                            img(src="./img/restaurant/box-2.png", alt="")
                .col.w-full(class='sm:w-1/2 lg:w-4/12')
                    .text-content
                        .tittle Meeinting beach espousal style
                        .text   Everyone dreams of a beautiful romantic exchanging vows beachside and saying I do’s in front of the ocean. From the beachside serenity, natural sanctuary and personalized service to the table setting, delicious catering options, cakes and decoration...
                        .btn-left
                            a(href="#").btn.btn-view-more
                                span See more
                .col(class='w-1/2 sm:w-1/2 md:w-4/12 lg:w-4/12')
                    .image-small.zoom-in
                        a(href="./img/restaurant/small-1.png" alt="" data-fancybox="image-1")
                            img(src="./img/restaurant/img-1.jpg", alt="")
                    .info.text-center   Cooking Classes
                .col(class='w-1/2 sm:w-1/2 md:w-4/12 lg:w-4/12')
                    .image-small.zoom-in
                        a(href="./img/restaurant/small-2.png" alt="" data-fancybox="image-1")
                            img(src="./img/restaurant/small-2.png", alt="")
                    .info.text-center   Deck On The Beach
                .col(class='w-1/2 sm:w-1/2 md:w-4/12 lg:w-4/12')
                    .image-small.zoom-in
                        a(href="./img/restaurant/small-3.png" alt="" data-fancybox="image-1")
                            img(src="./img/restaurant/small-3.png", alt="")
                    .info.text-center   Rock Bar
