section.home-resort
	.container
		.section-title.text-center(data-aos="zoom-out" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250") At the Resort
		.zone-description.text-center(data-aos="fade-up" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250") Explore the possibilities of L’Alya Ninh Van Bay, designed to keep you focused on having fun and creating memories that will last forever.
		.row(data-aos="zoom-in" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250")
			.col.w-full(class='md:w-8/12')
				.image-wrap
					a(href="#")
						img(src="./img/index/10.png", alt="")
			.col.w-full(class='md:w-4/12')
				.content
					.sub-title
						a(href="javascript:;")  Meeting room & event
					.scollbar-wrap
						.caption No need for a big auditorium with splendid lights, L’Alya Ninh Van Bay has gently but subtly brought nature, land sky to your company’s year-end meeting. Imagine customers can dynamically allocate space, that meet your style, needs and number of participants.
					.btn-left
						a(href="#").btn.btn-view-more
							span See more
		.row(data-aos="zoom-in" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250")
			.col.w-full(class='md:w-8/12')
				.image-wrap
					a(href="#")
						img(src="./img/index/11.png", alt="")
			.col.w-full(class='md:w-4/12')
				.content
					.sub-title
						a(href="javascript:;")  Meeting room & event
					.scollbar-wrap
						.caption No need for a big auditorium with splendid lights, L’Alya Ninh Van Bay has gently but subtly brought nature, land sky to your company’s year-end meeting. Imagine customers can dynamically allocate space, that meet your style, needs and number of participants.
					.btn-left
						a(href="#").btn.btn-view-more
							span See more
		.row(data-aos="zoom-in" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250")
			.col.w-full(class='md:w-8/12')
				.image-wrap
					a(href="#")
						img(src="./img/index/12.png", alt="")
			.col.w-full(class='md:w-4/12')
				.content
					.sub-title
						a(href="javascript:;")  Meeting room & event
					.scollbar-wrap
						.caption No need for a big auditorium with splendid lights, L’Alya Ninh Van Bay has gently but subtly brought nature, land sky to your company’s year-end meeting. Imagine customers can dynamically allocate space, that meet your style, needs and number of participants.
					.btn-left
						a(href="#").btn.btn-view-more
							span See more
		.row(data-aos="zoom-in" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250")
			.col.w-full(class='md:w-8/12')
				.image-wrap
					a(href="#")
						img(src="./img/index/13.png", alt="")
			.col.w-full(class='md:w-4/12')
				.content
					.sub-title
						a(href="javascript:;")  Meeting room & event
					.scollbar-wrap
						.caption No need for a big auditorium with splendid lights, L’Alya Ninh Van Bay has gently but subtly brought nature, land sky to your company’s year-end meeting. Imagine customers can dynamically allocate space, that meet your style, needs and number of participants.
					.btn-left
						a(href="#").btn.btn-view-more
							span See more