section.wellness_detail-2
    .wrapper
        .title 
            h2 Where The Jungle meets the sea immersing yourself in tropical breezes
                strong WELCOME TO L’ALYA NINH VAN BAY 
        a.btn.btn-booknow(href="")
            span 
                img(src="./img/icon/Vector_Smart_Object.png" alt="") 
            p.m-0 BROCHURE