section.wellness_detail-1
	.container
		.section-title.text-center 
			h1 Team Building 
		.caption.text-center Relaxing is easy when you’re in paradise, but maybe you want a little something else in your day to put your body and mind in harmony. L’Alya Ninh Van Bay is happy to offer all kinds of unique and invigorating options: on land and at sea.
		.btn-center
			a(href="#").btn.btn-primary
				em.mdi.mdi-pencil
				span Book now
		.row
			.col.w-full(class='lg:w-1/2')
				.single-swiper
					.swiper-container
						.swiper-wrapper
							-for(i=0;i<5;i++)
								.swiper-slide
									.wrapper
										a(href="#")
											img(src="./img/wellness/_Spa.png", alt="")
					.swiper-nav-wrap
						.nav-arrow-prev
							em.lnr.lnr-arrow-left
						.nav-arrow-next
							em.lnr.lnr-arrow-right
			.col.w-full(class='lg:w-1/2')
				.content
					.sub-title Activites
					.scollbar-wrap
						.caption
							strong See the sites and culture of Nha Trang by:
							ul
								li Discover real Vietnam and experience how the locals live, this is a cultural experience you will never forget early morning experience local markets  
								li Discover real Vietnam and experience how the locals live, this is a cultural experience you will never forget early morning experience local markets  
							strong See the sites and culture of Nha Trang by:
							ul
								li Discover real Vietnam and experience how the locals live, this is a cultural experience you will never forget early morning experience local markets  
								li Discover real Vietnam and experience how the locals live, this is a cultural experience you will never forget early morning experience local markets  
							strong See the sites and culture of Nha Trang by:
							ul
								li Discover real Vietnam and experience how the locals live, this is a cultural experience you will never forget early morning experience local markets  
								li Discover real Vietnam and experience how the locals live, this is a cultural experience you will never forget early morning experience local markets  
							strong See the sites and culture of Nha Trang by:
							ul
								li Discover real Vietnam and experience how the locals live, this is a cultural experience you will never forget early morning experience local markets  
								li Discover real Vietnam and experience how the locals live, this is a cultural experience you will never forget early morning experience local markets  
		.row
			.col.w-full(class='lg:w-1/2')
				.single-swiper
					.swiper-container
						.swiper-wrapper
							-for(i=0;i<5;i++)
								.swiper-slide
									.wrapper
										a(href="#")
											img(src="./img/wellness/_Spa.png", alt="")
					.swiper-nav-wrap
						.nav-arrow-prev
							em.lnr.lnr-arrow-left
						.nav-arrow-next
							em.lnr.lnr-arrow-right
			.col.w-full(class='lg:w-1/2')
				.content
					.sub-title Activites
					.scollbar-wrap
						.caption
							p Before you go.... 
							p For our activities, staff or your butler will be happy to arrange any activity for you, whether you decide to be adventurous or be a little more indulgent with a glass of champagne on a sunset cruise around the local islands and bays.  For most activities, all you will need to bring is some sunscreen, a hat, your camera and a sense of adventure, and we will take care of the rest. Our excursions include:
							ul
								li Experienced & English speaking guides  
								li Transportation  
								li Service charges and entry fees, including boat transfers from the resort. 
								li Refreshments, including soft drinks and local beer  