extends _layout.pug

block var
    - var title = 'Contact'
    - var bodyClass = ''

block main 
    include ../components/top-banner/index.pug
    include ../components/Admin_UI/breadcrumb/index.pug
    include ../components/contact/index.pug