extends _layout.pug

block var
    - var title = 'Gallery image'
    - var bodyClass = ''

block main 
    include ../components/top-banner/index.pug
    include ../components/Admin_UI/breadcrumb/index.pug
    include ../components/gallery-image/index.pug