extends _layout.pug

block var
    - var title = 'News Event'
    - var bodyClass = ''

block main 
    include ../components/top-banner/index.pug
    include ../components/Admin_UI/breadcrumb/index.pug
    include ../components/news_event/detail/index.pug