extends _layout.pug

block var
    - var title = 'Restaurant'
    - var bodyClass = ''

block main 
    include ../components/top-banner/index.pug
    include ../components/Admin_UI/breadcrumb/index.pug
    include ../components/restaurant/index.pug