extends _layout.pug

block var
    - var title = 'Wedding - Detail'
    - var bodyClass = ''

block main 
    include ../components/Admin_UI/breadcrumb/index.pug
    include ../components/wedding/detail/index.pug
