extends _layout.pug

block var
    - var title = 'Wellness Detail'
    - var bodyClass = 'homepage'

block main
    include ../components/top-banner/index.pug
    include ../components/Admin_UI/breadcrumb/index.pug
    include ../components/wellness/detail/1/index.pug
    include ../components/wellness/detail/2/index.pug
    include ../components/wellness/detail/3/index.pug
