section.special-list
    .container
        .section-title.text-center.py-6 Long stay discount
        .text-tittle.text-center Enjoy our discounted Bed and Breakfast Rate at Luxury Villa Accommodations.
        .item-1
            .row
                .col.w-ful.zoom-inl(class='sm:w-1/2 lg:w-1/2')
                    .image-item
                        img(src="./img/specialoffers/img-item1.png", alt="")
                .col.w-full(class='sm:w-1/2 lg:w-1/2')
                    .content-item
                        strong    Rates are inclusive of:
                        ul
                            li  Complimentary 2 ways – Return Airport transfer for booking stay from 3 nights
                            li  USD 25 Spa credit per villa for body massage
                            li  USD 25 Spa credit per villa for body massage
                            li  Daily breakfast
                            li  Refreshing welcome drink at lounge and Daily fruit basket in room
                            li  Complimentary round trip shared boat transfer service for check in and check out
                            li  24 hour dedicated butler services
                    
                        strong  Rates are inclusive of:
                        ul
                            li  Complimentary 2 ways – Return Airport transfer for booking stay from 3 nights
                            li  USD 25 Spa credit per villa for body massage
                            li  USD 25 Spa credit per villa for body massage
                            li  Daily breakfast
                            li  Refreshing welcome drink at lounge and Daily fruit basket in room
                            li  Complimentary round trip shared boat transfer service for check in and check out
                            li  24 hour dedicated butler services
        .section-title.text-center.py-10 Other special offers
        .item-2.slider
            .lnr-arrow-next
                i.lnr.lnr-arrow-right
            .lnr-arrow-prev
                i.lnr.lnr-arrow-left
            .Slide-special-detail.swiper-container 
                .swiper-wrapper
                    .swiper-slide
                        .box
                            .img-box.zoom-in
                                a(href="")
                                    img(src="./img/specialoffers/box-1.png", alt="")
                            .content-text
                                .tittle-box
                                    a(href="") Luxury gateaway package
                                .text-box Make Your Luxury Getaway holiday to enjoy unforgettable experiences. Make Your Luxury Getaway holiday to enjoy unforgettable experiences
                                .btn-left
                                    a(href="").btn.btn-view-more 
                                        span see more
                    .swiper-slide
                        .box
                            .img-box.zoom-in
                                a(href="")
                                    img(src="./img/specialoffers/box-1.png", alt="")
                            .content-text        
                                .tittle-box
                                    a(href="") Luxury gateaway package
                                .text-box Make Your Luxury Getaway holiday to enjoy unforgettable experiences. Make Your Luxury Getaway holiday to enjoy unforgettable experiences
                                .btn-left
                                    a(href="").btn.btn-view-more 
                                        span see more
                    .swiper-slide 
                        .box
                            .img-box.zoom-in
                                a(href="")
                                    img(src="./img/specialoffers/h-04.jpg", alt="")
                            .content-text
                                .tittle-box
                                    a(href="") Luxury gateaway package
                                .text-box Make Your Luxury Getaway holiday to enjoy unforgettable experiences. Make Your Luxury Getaway holiday to enjoy unforgettable experiences
                                .btn-left
                                    a(href="").btn.btn-view-more 
                                        span see more

