section.special-list
	.container
		.section-title.text-center.py-6 Special offers
		.item1
			.row
				.col.w-full(class='sm:w-12/12 md:w-8/12 lg:w-8/12')
					.image-item
						a(href="#" alt="") 
							img(src="./img/specialoffers/layer1.png", alt="") 
				.col.w-full(class='sm:w-12/12 md:w-4/12 lg:w-4/12')
					.text-item
						.tittle-item Long stay discount
						.text Explore the endless possibilities for your most memorable day in an exotic island surrounded by the wild sandy beach, tropical forest and beautiful mountain. The Central Vietnam getaway provides plenty of activities between the bridal party for the nature-loving couples and their wedding guests in a gorgeous
						.btn-left
							a(href="").btn.btn-view-more 
								span see more
		.sec2-special
			.row
				.col.w-full(class='md:w-1/2 lg:w-4/12')
					.box
						.img-box.zoom-in
							a(href="")
								img(src="./img/specialoffers/box-1.png", alt="")
						.content-text
							.tittle-box
								a(href="") Luxury gateaway package
							.text-box Make Your Luxury Getaway holiday to enjoy unforgettable experiences. Make Your Luxury Getaway holiday to enjoy unforgettable experiences
							.btn-left
								a(href="").btn.btn-view-more 
									span see more
				.col.w-full(class='md:w-1/2 lg:w-4/12')
					.box
						.img-box.zoom-in
							a(href="")
								img(src="./img/specialoffers/box-1.png", alt="")
						.content-text
							.tittle-box
								a(href="") Luxury gateaway package
							.text-box Make Your Luxury Getaway holiday to enjoy unforgettable experiences. Make Your Luxury Getaway holiday to enjoy unforgettable experiences
							.btn-left
								a(href="").btn.btn-view-more 
									span see more
				.col.w-full(class='md:w-1/2 lg:w-4/12')
					.box
						.img-box.zoom-in
							a(href="")
								img(src="./img/specialoffers/h-04.jpg", alt="")
						.content-text
							.tittle-box
								a(href="") Luxury gateaway package
							.text-box Make Your Romantic 03 Nights Stay unforgettable at the most delightful and unique romantic resort for couples, real romantic hideaway vacation with your beloved one. Let us to make it memorable for you.
							.btn-left
								a(href="").btn.btn-view-more 
									span see more