section.meeting
    .container
        .section-title.text-center Meeting & Event
        .zone-description.text-center No need for a big auditorium with splendid lights, L’Alya Ninh Van Bay has gently but subtly brought nature, land sky to your company’s year-end meeting. Imagine customers can dynamically allocate space, that meet your style, needs and number of participants.
        .flex.justify-center.bg-gray-200
            .text-gray-700.text-center.px-4.m-2
                .brochure.fa.fa-file
                    a(href="") Brochure
        .form-menu.bg-w
            table
                    tr
                        th(style='text-align: left') Package Details
                        th Single bed accommodation (VND per personPackage details)
                        th Single bed accommodation (VND per personPackage details)
                        th Single bed accommodation (VND per personPackage details)
                    tr
                        td(style='text-align: left') Half day meeting with lunch & 01 timetea brea
                        td VND 7,100,000
                        td VND 7,100,000
                        td VND 7,100,000
                    tr
                        td(style='text-align: left') Half day meeting with lunch & 01 timetea brea
                        td VND 7,100,000
                        td VND 7,100,000
                        td VND 7,100,000
        .content
            .row
                .col.w-full(class='sm:w-8/12 md:w-8/12 lg:w-8/12')
                    .image-content
                        img(src="./img/meeting/content1.png", alt="")
                .col.w-full(class='sm:w-4/12 md:w-4/12 lg:w-4/12')
                    .text-content
                        .tittle Accommodation
                        .text
                            ul
                                li  02 days 01 night in Villa with private pool Daily breakfast.
                                li  Two – way speedboat transfers.
                                li  Daily fresh fruit platter and afternoon tea in Villa.
                                li  Daily shuttled boat & car transfer to Nha Trang city and back (as scheduled).
                                li  24 - hour butler service.
            .row.mt-60
                .col.w-full(class='sm:w-8/12 md:w-8/12 lg:w-8/12')
                    .image-content
                        img(src="./img/meeting/content2.png", alt="")
                .col.w-full(class='sm:w-4/12 md:w-4/12 lg:w-4/12')
                    .text-content
                        .tittle Meeting Package
                        .text
                            ul
                                li  Meeting room usage
                                li  Coffee break ( tea/coffee, fresh, cookies,... )
                                li  Fresh floral decoration
                                li  Daily shuttled boat & car transfer to Nha Trang city and back (as scheduled).
                                li  Wifi - Internet services
                                li  Paper & Pens
                                li  24 - hour butler service.
            .row.mt-60
                .col.w-full(class='sm:w-8/12 md:w-8/12 lg:w-8/12')
                    .image-content
                        img(src="./img/meeting/content3.png", alt="")
                .col.w-full(class='sm:w-4/12 md:w-4/12 lg:w-4/12')
                    .text-content
                        .tittle Additional Special Benefits
                        .text
                            ul
                                li  Beach activities for team building : Volleyball, kayaking... A Hiking Trails with private tour guide
                                li  Bicycle tour



