section.pages-news_event_detail 
	.container 
		.row    
			.col.w-full(class="lg:w-9/12")
				.article-wrapper
					.article-header
						.title 
							h1 Enjoy a wonderful vacation at L'Alya Villas Ninh Van Bay 
						.wrapper
							.date 
								p 01-06-2020
							.social-wrap 
								.icon
									a
										em.fab.fa-facebook-square
								.icon
									a
										em.fab.fa-instagram
								.icon
									a
										em.fab.fa-twitter 
					.article-content 
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores maxime dignissimos, praesentium id optio repellendus distinctio tempore vitae similique non reprehenderit quae ea voluptatum modi qui quasi. Voluptatem, quis.
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores maxime dignissimos, praesentium id optio repellendus distinctio tempore vitae similique non reprehenderit quae ea voluptatum modi qui quasi. Voluptatem, quis. 
						img(src="./img/news_event/ne_1.png" alt="") 
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus corrupti vitae fugiat rerum voluptates. Laudantium quis corporis distinctio, in aperiam, sapiente laboriosam laborum quidem quibusdam quae debitis natus tempora nihil?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores maxime dignissimos, praesentium id optio repellendus distinctio tempore vitae similique non reprehenderit quae ea voluptatum modi qui quasi. Voluptatem, quis. 
						p
							img(src="./img/news_event/ne_1.png" alt="") 
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus corrupti vitae fugiat rerum voluptates. Laudantium quis corporis distinctio, in aperiam, sapiente laboriosam laborum quidem quibusdam quae debitis natus tempora nihil?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores maxime dignissimos, praesentium id optio repellendus distinctio tempore vitae similique non reprehenderit quae ea voluptatum modi qui quasi. Voluptatem, quis. 
						p
							img(src="./img/news_event/ne_1.png" alt="") 
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus corrupti vitae fugiat rerum voluptates. Laudantium quis corporis distinctio, in aperiam, sapiente laboriosam laborum quidem quibusdam quae debitis natus tempora nihil?
			.col.w-full(class="lg:w-3/12")
				.other-news 
					.title 
						h2 Other news - events 
					.wrapper   
						-for(i=0;i<5;i++)
							.item 
								a(href="")
									time 01-06-2020
									.title  Lalyana is beautiful like paradise on Ninh Van Bay 