section.home-new-day
	.section-title.text-center(data-aos="fade-in" data-aos-easing="ease-in-back" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250") Every day is a great day
	.zone-description.text-center(data-aos="fade-up" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250") Where The Jungle meets the sea immersing yourself in tropical breezes
	.swiper-container(data-aos="fade-in" data-aos-easing="ease-in-back" data-aos-delay="0" data-aos-duration="850" data-aos-offset="250")
		.swiper-wrapper
			-for(i=0;i<5;i++)
				.swiper-slide
					.wrap
						a(href="javascript:;")
							img(data-src="./img/index/14.png", alt="").swiper-lazy