section.home-accommodation
	.container
		.section-title.text-center(data-aos="zoom-in" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250") Accommodation
		.home-room
			.big-img-wrap(data-aos="fade-up" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250")
				a(href="javascript:;")
					img(src="./img/index/4.png", alt="")
			.sub-title.text-center(data-aos="fade-down" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="750" data-aos-offset="250") Hill rock pool villas
			.caption.text-center(data-aos="fade-up" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="850" data-aos-offset="250") Set over 3 levels. The lower floor contains a large bathroom with shower, separate bathtub, toilet, twin basins and wardrobes.The middle level is an open-air deck lounge space, with bar, sofas, dining space and plunge pool. ..
			.btn-center(data-aos="zoom-in" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="950" data-aos-offset="250")
				a(href="#").btn.btn-view-more
					span See more
		.home-accommodation-three.trinity-item-swiper
			.swiper-container
				.swiper-wrapper
					-for(i=0;i<5;i++)
						.swiper-slide(data-aos="fade-in" data-aos-easing="ease-in" data-aos-delay="200" data-aos-duration="750" data-aos-offset="250")
							.figure-accommodation
								.image-wrap.zoom-in
									a(href="#")
										img(data-src="./img/index/5.png", alt="").swiper-lazy
								.content
									.sub-title.text-center
										a(href="#") Lagoon pool villas
									.caption.text-center Lagoon Pool Villas are single story with uninterrupted views of the lagoon, beach and sea. 
									.btn-center
										a(href="#").btn.btn-view-more
											span see more
						.swiper-slide(data-aos="zoom-in" data-aos-easing="ease-in" data-aos-delay="400" data-aos-duration="750" data-aos-offset="250")
							.figure-accommodation
								.image-wrap.zoom-in
									a(href="#")
										img(data-src="./img/index/6.png", alt="").swiper-lazy
								.content
									.sub-title.text-center
										a(href="#") Lagoon pool villas
									.caption.text-center Lagoon Pool Villas are single story with uninterrupted views of the lagoon, beach and sea. 
									.btn-center
										a(href="#").btn.btn-view-more
											span see more
						.swiper-slide(data-aos="zoom-in" data-aos-easing="ease-in" data-aos-delay="600" data-aos-duration="750" data-aos-offset="250")
							.figure-accommodation
								.image-wrap.zoom-in
									a(href="#")
										img(data-src="./img/index/7.png", alt="").swiper-lazy
								.content
									.sub-title.text-center
										a(href="#") Lagoon pool villas
									.caption.text-center Lagoon Pool Villas are single story with uninterrupted views of the lagoon, beach and sea. 
									.btn-center
										a(href="#").btn.btn-view-more
											span see more
			.swiper-nav-wrap
				.nav-arrow-prev
					em.lnr.lnr-arrow-left
				.nav-arrow-next
					em.lnr.lnr-arrow-right