.global-breadcrumb
	.container
		ol.breadcrumb
			li.breadcrumb-item
				a(href='#') Home
			li.breadcrumb-item
				a(href='#') Title
			li.breadcrumb-item.active(aria-current='page')
				a(href="#")
					span Title-Title
