<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Main Menu" value="1" resourcefile="" />
      <add name="Top Menu" value="2" resourcefile="" />
      <add name="Footer Menu 1" value="4" resourcefile="" />
      <add name="Footer Menu 2" value="8" resourcefile="" />
      <add name="Home About" value="16" resourcefile="" />
      <add name="Home Accommodation" value="32" resourcefile="" />
      <add name="Home Special offers" value="64" resourcefile="" />
      <add name="Home At the Resort " value="128" resourcefile="" />
      <add name="Home Every day is a great day " value="256" resourcefile="" />
      <add name="Other Accommodation " value="512" resourcefile="" />
      <add name="Other Wellness " value="1024" resourcefile="" />
      
    </position>

</settings>