section.home-about
	.container
		.section-title.text-center(data-aos="zoom-in" data-aos-easing="ease-in" data-aos-delay="200" data-aos-duration="650" data-aos-offset="150") L’Alya Ninh Van Bay
		.zone-description.text-center(data-aos="fade-up" data-aos-easing="ease-in" data-aos-delay="300" data-aos-duration="650" data-aos-offset="150") Situated along charming and romantic Ninh Van bay, L’Alya is natural, pristine and surrounded by picturesque sceneries. At the place where time is forgotten, you will be pampered in the openness of tranquil woods, blue natural sea and spectacular settings under the sunset. You will be captivated by fine cuisines, the naivety of local people and top notched services. Extremely private space makes you feel the serenity and peace of mind.
		.row.top-row
			.col.w-full(class='lg:w-8/12')
				.image-wrap(data-aos="zoom-in" data-aos-easing="ease-in" data-aos-delay="200" data-aos-duration="650" data-aos-offset="250")
					a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
							img.card-img-top.img-fluid(src='https://img.youtube.com/vi/_sI_Ps7JSEk/mqdefault.jpg')

			.col.w-full(class='lg:w-4/12')
				.content(data-aos="fade-left" data-aos-easing="ease-in" data-aos-delay="300" data-aos-duration="650" data-aos-offset="250")
					.sub-title.green.medium
						a(href="#") The ultimate holiday in authentic Vietnamese style luxury
					.scollbar-wrap
						p Situated along charming and romantic Ninh Van Bay, L’Alya is natural, pristine and surrounded by picturesque sceneries. At the place where time is forgotten, you will be pampered in the openness of tranquil woods, blue natural sea and spectacular settings under the sunset. You will be captivated by fine cuisines, the naivety of local people and top notched services. Extremely private space makes you feel the serenity and peace of mind.
					.btn-left
						a(href="#").btn.btn-view-more.green
							span see more

		.row
			.col.w-full(class='md:w-4/12')
				.image-wrapper(data-aos="zoom-in" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250")
					a(href="#")
						img(src="./img/index/2.png", alt="")
			.col.w-full(class='md:w-8/12')
				.image-wrapper(data-aos="zoom-in" data-aos-easing="ease-in" data-aos-delay="0" data-aos-duration="650" data-aos-offset="250")
					a(href="#")
						img(src="./img/index/3.png", alt="")
